{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E.A.S.Y.</title>
    <link rel="stylesheet" href="{% static 'Frontend/CSS/index.css' %}">
</head>
<body>
   <header>
       <nav class="navbar">
            <a href="/" {% if request.get_full_path == "/" %} class="active" {% endif %}><i class="fa fa-fw fa-home"></i> E.A.S.Y.</a>
            {% if not user.is_authenticated %}
                <a href="/plans"{% if request.get_full_path == "/plans" %} class="active" {% endif %}>Plans</a>
                <a href="/contact"{% if request.get_full_path == "/contact" %} class="active" {% endif %}><i class="fa fa-fw fa-envelope"></i> Contact</a>
                <a href="/about-us"{% if request.get_full_path == "/about-us" %} class="active" {% endif %}>About Us</a>
                <a href="/login"{% if request.get_full_path == "/login" %} class="active" {% endif %}><i class="fa fa-fw fa-user"></i> Login</a>
                <a href="/register"{% if request.get_full_path == "/register" %} class="active" {% endif %}>Register</a>
            {% else %}
                <a href="/dashboard"{% if request.get_full_path == "/dashboard" %} class="active" {% endif %}>Dashboard</a>
                <a href="/profile"{% if request.get_full_path == "/profile" %} class="active" {% endif %}>Profile</a>
                <a href="/plans"{% if request.get_full_path == "/plans" %} class="active" {% endif %}>Plans</a>

                {% if user.is_superuser %} <a href="/admin">Admin</a> {% endif %}

                <a href="/logout"{% if request.get_full_path == "/logout" %} class="active" {% endif %}>Logout</a>
            {% endif  %}

        </nav>
   </header>

    <main>
        {% include page %}
    </main>

    <footer>

    </footer>
</body>
</html>