{% load static %}


<head>

    <title>Plans</title>
    <link rel="stylesheet" href="{% static 'Frontend/CSS/plans.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>


<body >
<br>
    <H1 style="text-align:center">Select your Plan</H1>
    <p style="text-align:center">Scroll down to see the benefits</p>
    <div class="column">
        {% for p in plan %}
            <div class="columns">
                <ul class="price">
                    <li class="header"  {% if p.plan_name == 'Regular' %} style="background-color:#04AA6D" {% endif %}>{{ p.plan_name }}</li>
                    <li class="grey">$ {{ p.plan_price }} / year</li>
                    <li>{{ p.number_off_areas }} Areas</li>
                    <li>{{ p.number_off_lamps }} Lamps</li>
                    <li>{{ p.number_off_functions }} Functions</li>
                    {#                <li>{{ p.plan_description }} Description</li>#}
                    <li class="grey"><a href="/register" class="button">Sign Up</a></li>
                </ul>
            </div>
        {% endfor %}
</body>
