{% load static %}

<head>

    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'Frontend/CSS/profile.css' %}">

</head>


<body>
    {% if user.is_authenticated %}
       <H1>Profile</H1>
            <table class="center" >
                <tr>
                    <th>Gebruikersnaam: </th>
                    <th>E-mail: </th>
                    <th>Plan: </th>
                    <th>Last login: </th>
                    <th>Date joined: </th>
                </tr>
                <tr>
                    <td>{{ user.username}}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.profile.plan }}</td>
                    <td>{{ user.last_login }}</td>
                    <td>{{ user.date_joined }}</td>
                </tr>
            </table>
    {% else %}
        <H1> Er zijn gegevens beschikbaar voor u, u moet eerst <a href="/login">inloggen</a></H1>
    {% endif %}
</body>
